video {
	width: 99.9%;
	height: 100%;
	object-fit: fill;
	border-radius: 6px 2.6px 6px 3px;
	border: 6px groove #170000;
	float: left;
	transition: object-fit 0.5s ease-in-out;
}

.welcome-vid {
	height: 88vh;
}

.content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 3rem;
	left: 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 1rem;
	transition: width 0.5s ease-in-out;
	transition: left ease-in-out;
}

.content.open {
	left: 10%;
	width: 90%;
	transition: width ease-in-out; /* Smooth transition for the width property */
	transition: left ease-in-out; /* Smooth transition for the width property */
}

.content h2 {
	color: rgb(82, 0, 0);
	font-weight: bolder;
	font-size: 9vw;
	text-shadow: 3px 3px black;
	font-family: Inspiration;
}

.content p {
	color: silver;
	font-weight: bolder;
	font-size: 3vw;
	text-shadow: 1px 1px#170000;
	font-family: "Silkscreen";
	text-shadow: -2px 3px #170000, 4px -2px #170000, 4px -2px #170000, 4px -2px #170000;
	text-decoration: underline;
}

.content .resume,
.content .contact-me {
	border-radius: 6px 6px 6px 6px;
	border: 3px groove #170000;
	font-family: "Silkscreen";
	font-size: 0.82vw;
}

.content a i {
	color: maroon;
	margin-top: 9px;
	font-size: 2vw;
	text-shadow: 2px 2px 1px #2a2a2a;
}

.content a i:hover {
	color: silver;
}

.wel-row {
	justify-content: space-evenly;
	margin-left: 6.5vw !important;
}
