.welcome-vid {
	height: 88vh;
}

.welcome-vid video {
	width: 100%;
	height: 99.99%;
	object-fit: fill;
	border-radius: 3px;
	border: 4px groove var(--dark-maroon);
	float: left;
	transition: object-fit 0.5s ease-in-out;
}

.content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 3rem;
	left: 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 1rem;
	transition: width 0.5s ease-in-out;
	transition: left ease-in-out;
	z-index: 1;
}

.open .content {
	left: 10%;
	width: 90%;
	transition: width ease-in-out;
	transition: left ease-in-out;
}

.content h2 {
	color: rgb(82, 0, 0);
	font-weight: bolder;
	font-size: 9vw;
	text-shadow: 3px 3px black;
	font-family: Inspiration;
}

.content p {
	color: var(--silver);
	font-weight: bolder;
	font-size: 3vw;
	font-family: "Silkscreen";
	text-shadow: -2px 3px var(--dark-maroon), 4px -2px var(--dark-maroon), 4px -2px var(--dark-maroon), 4px -2px var(--dark-maroon);
	text-decoration: underline;
}

.content .resume,
.content .contact-me {
	border-radius: 6px 6px 6px 6px;
	border: 3px groove var(--dark-maroon);
	font-family: "Silkscreen";
	font-size: 1vw;
	font-weight: 600;
}

.content a i {
	color: maroon;
	margin-top: 1vh;
	font-size: 2.4vw;
	position: relative;
	text-shadow: 2px 2px 1px var(--dark-gray);
}

.content a i:hover {
	color: var(--light-silver);
	font-size: 2.8vw;
	 /* position: fixed; */
/*	top: 76%;
	transition: 70ms ease; */

}

.wel-row {
	justify-content: space-evenly;
	margin-left: 6.5vw !important;
}
