/*TODO Connect  */
.connect {
	margin: 3vh auto;
}
.connect-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 80vh;
	padding: 0 2rem;
	background: var(--main-gray);
}

.connect-section-header > h2 {
	font-size: 5rem;
}

.connect-section-header > p {
	font-size: 1.2rem;
	margin-left: 4.5rem;
}

.connect-section-header > p {
	font-style: italic;
}

.connect-links {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
	transition: 0.5s ease-in-out;
}

.connect-details {
	font-size: 3.3vw !important;
	margin: 0 1vw;
	transition: transform 1.5s ease-in;
	color: #000000 !important;
	text-decoration: none;
	display: flex;
}

.connect-details:hover {
	transform: translateY(2px);
	color: #000000 !important;
	background-color: #ff9000;
	transition: background-color 0.3s ease-in 100ms;
	border-radius: 39px;
	padding: 0.6%;
}

.connect-details .wakatime-icon {
	color: #000000 !important;
	padding: 5%;
	height: 8vh;
}
