@keyframes marquee {
	0% {
		transform: translateX(-50%);
	}
	100% {
		transform: translateX(0%);
	}
}

.skill-rotator-container {
	width: 100%;
	overflow: hidden;
	position: relative;
	height: 3.6vh;
	border-style: solid none solid none;
	padding: 3vh 0 52px 0;
	z-index: 0;
}

.rotate {
	display: flex;
	animation: marquee 90s linear infinite;
	position: absolute;
	transition: animation ease-in;
	white-space: nowrap;
	top: 0;
}

.rotate:hover {
	animation-play-state: paused;
}

.skill {
	width: 82px;
	max-width: 80px;
	height: 4.5vh;
	margin: 1.3rem 0.9rem;
	display: flex;
	align-items: center;
	transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	position: relative;
	justify-content: space-between;
}

.skill:hover {
	transform: scale(1.2);
	transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.skill:hover .tooltip {
	visibility: visible;
	margin-left: 1vw;
	opacity: 1;
}
