@keyframes marquee {
	/* 0% {
		left: -100%;
	}
	100% {
		left: 100%;
	} */
	0% {
		transform: translateX(-50%);
	}
	100% {
		transform: translateX(0%);
	}
}

.skill-rotator-container {
	width: 100%;
	overflow: hidden;
	position: relative;
	height: 3.6vh;
	border-style: solid none solid none;
	padding: 3vh 0 52px 0;
	z-index: 10;
}

.rotate {
	display: flex;
	animation: marquee 36s linear infinite;
	position: absolute;
	white-space: nowrap;
	top: 0;
}

.rotate:hover {
	animation-play-state: paused;
}

.skill {
	width: 82px;
	max-width: 80px;
	height: 4.5vh;
	margin: 1.3rem 0.9rem;
	display: flex;
	align-items: center;
	/* justify-content: center; */
	transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	position: relative;
	justify-content: space-between;
}

.skill:hover {
	transform: scale(1.2);
	transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.tooltip {
	position: sticky;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #555;
	color: white;
	text-align: center;
	padding: 5px 10px;
	border-radius: 6px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s;
}

.skill:hover .tooltip {
	visibility: visible;
	opacity: 1;
}
