/**?Light */
.theme-light {
	background-color: snow;
	color: black;
	transition: 1.2s ease-in-out;
}

.theme-light nav {
	background-color: #cacaca;
}

.theme-light .sidebar {
	background-color: #cacaca;
}

.theme-light .sidebar-list-item:hover {
	background-color: #ffffffde !important;
}

.theme-light .sidebar-link {
	color: #000000;
}

.theme-light .contact form {
	background-color: #f2f7f7;
}

.theme-light footer {
	background-color: #cacaca;
}

.bottom-sidebar .light:hover,
.bottom-sidebar .light .hidden-sidebar:hover {
	color: #ffffff;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/**?shade */
.theme-shade {
	background-color: #858585;
	color: #000000;
	transition: 1.2s ease-in-out;
}

.theme-shade nav {
	background-color: #3f3f3f;
}

.theme-shade .sidebar {
	background-color: #3f3f3f;
}

.theme-shade .sidebar-link {
	color: #ffffff;
}

.theme-shade .contact form {
	background-color: #868686;
}

.theme-shade footer {
	background-color: #3f3f3f;
}

.bottom-sidebar .shade:hover,
.bottom-sidebar .shade .hidden-sidebar:hover {
	color: #676363;
	text-shadow: -1px -1px 0 #646464, 1px -1px 0 #646464, -1px 1px 0 #646464, 1px 1px 0 #646464;
}

/**?Dark */
.theme-dark {
	background-color: #000000;
	color: #ffffff;
	transition: 1.2s ease-in-out;
}

.theme-dark nav {
	background-color: #000000;
}

.theme-dark .sidebar {
	background-color: #111111;
}

.theme-dark .channel-symbol {
	-webkit-text-stroke: 0.09px #ffffff;
}

.theme-dark .sidebar-link {
	color: #ffffff;
}

.theme-dark .connect-links a {
	padding: 0.2em;
	background-color: snow;
	border-radius: 39px;
	transition: 1.5s ease-in-out;
}

.theme-dark .contact form {
	background-color: #131313;
}

.theme-dark footer {
	background-color: #000000;
}

.bottom-sidebar .dark:hover,
.bottom-sidebar .dark .hidden-sidebar:hover {
	color: #000000;
	text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/*TODO APP */
.app {
	height: 100%;
	width: 100%;
	text-align: center;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.app-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.app-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

@media (min-width: 2441px) {
	.welcome-vid video {
		height: 99.45%;
	}
}

@media (max-width: 2440px) {
	.rotate {
		animation: marquee 90s linear infinite;
		transition: animation linear;
	}
}

@media (min-width: 1450px) {
	.sidebar.open {
		font-size: 1.2vw;
	}
	.sidebar-link .icon {
		font-size: 1.5vw;
	}
}

@media (max-width: 1200px) {
	.sidebar.open {
		font-size: 0.9vw;
		width: 15% !important;
	}

	.sidebar.open .channel-logo {
		height: 3.5vh !important;
	}

	.sidebar {
		font-size: 0.9vw;
	}
	.sidebar-link .icon {
		font-size: 2.5vw;
	}

	.sidebar-list-item .hidden-sidebar {
		font-size: 0.9vw;
	}
}

@media (max-width: 1075px) {
	.navbar-nav .nav-item {
		font-size: 0.5vw;
		display: contents;
		margin: 0 3px 0 3px;
	}

	.bottom-sidebar .sidebar-list {
		margin-bottom: 1vh;
	}

	.contact .form-control,
	.contact .input-group-text,
	.contact textarea,
	.contact button {
		margin-top: 0.15rem;
		margin-bottom: 0.15rem !important;
	}
}

@media (max-width: 910px) {
	.wel-row {
		justify-content: space-evenly;
		margin-left: 8vw !important;
	}

	.welcome-vid .title {
		margin-left: 4.5vw;
		align-self: center;
	}
}

@media (max-width: 875px) {
	.wel-row {
		justify-content: space-evenly;
		margin-left: 6vw !important;
	}

	.wel-row a i {
		justify-content: space-evenly;
		margin: 3vh 0 0 3vw;
	}

	.welcome-vid {
		height: 90vh;
	}
}

@media (max-width: 805px) {
	.wel-row .contact-me {
		padding: 1.7vh 1vw 1vh 1vw;
	}
	.skill {
		margin: 1.3rem 0.3vw;
	}
}

@media (max-width: 785px) {
	.pre-work .carousel-item > img {
		max-height: 75%;
		height: 25rem;
		object-fit: fill;
		width: 70%;
	}

	.welcome-vid .title {
		margin-left: 7vw;
	}

	.wel-row {
		justify-content: space-evenly;
		margin-left: 12vw !important;
	}

	.wel-row a i {
		justify-content: space-evenly;
	}

	.content .contact-me {
		padding: 1vh 0.5vw 1.5vh 0.5vw !important;
	}

	.content h2 {
		font-size: 13.5vw;
	}

	.content p {
		font-size: 3.6vw;
	}
}

@media (max-width: 768px) {
	.wel-row a i {
		justify-content: space-evenly;
		margin: 3vh 0 0 5vw;
	}

	.contact .row {
		justify-content: space-evenly;
		margin-bottom: 0em;
	}
}

@media (max-width: 700px) {
	.welcome-vid .title {
		margin-left: 9vw;
	}
}

@media (man-height: 580px) {
	.pre-work .carousel-item > img {
		max-height: 55%;
		height: 21rem;
		object-fit: fill;
		width: 70%;
	}

	.welcome-vid .title {
		margin-left: 13vw;
	}
}

@media (max-width: 475px) {
	.pre-work .carousel-item > img {
		max-height: 55%;
		height: 21rem;
		object-fit: fill;
		width: 55%;
	}
}

@media (max-width: 28.75em) {
	.connect-section-header > h2 {
		font-size: 4rem;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

main {
	margin-top: 6rem;
}

.app-body {
	margin-top: 5%;
	height: 100%;
	display: flex;
}

.pages {
	height: 100%;
	width: 100%;
	flex-grow: 1;
	margin: 0;
}

.pages.open {
	width: 88%;
}
/* ! */
/*TODO SITENAV */
nav {
	font-family: "Silkscreen";
	overflow: hidden;
	border-style: solid none solid none;
	padding: 0 !important;
	transition: 1.5s ease-in-out;
}

.dev-logo {
	width: 15%;
	height: 5%;
}

.user-navbar {
	display: flex;
}

.user-navbar p {
	margin-top: 3%;
	color: #820000;
	-webkit-text-stroke: 0.3px #c0c0c0;
}

.navbar-nav {
	color: #ff9000;
	text-shadow: 2px 1px black;
	font-size: 1.5vw;
}

.dropdown .dropbtn {
	background-color: #c0c0c0;
	border: 2px groove shade;
	border-radius: 5px;
	color: #820000;
}

.dropdown:hover .dropbtn {
	background-color: #820000;
	border: groove;
	color: #c0c0c0;
}

.dropdown:hover .dropdown-content {
	display: block;
	right: 0;
}

.dropdown {
	float: right;
	overflow: hidden;
	border: 3px groove shade;
	border-radius: 6px;
}

.dropdown-content {
	display: none;
	position: fixed;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 6px 6px 6px 6px;
	border: 3px groove silver;
}

.dropdown-content .dd-link {
	float: none;
	background-color: #ddd;
	color: #820000;
	padding: 12px 16px;
	font-family: "Silkscreen";
	font-weight: bold;
	text-decoration: none;
	display: block;
	text-align: center;
	padding-right: 1.5rem;
}

.dropdown-content .dd-link:hover {
	color: #e0830a;
}

.dropbox {
	color: #820000;
	-webkit-text-stroke: 1px #000000;
	transition: -webkit-text-stroke 0.9s ease-in-out;
}

.dropbox:hover {
	color: #c0c0c0;
	-webkit-text-stroke: 1px #820000;
	transition: -webkit-text-stroke 0.9s ease-in-out;
}
/* ! */
/*TODO SideBar */
.sidebar {
	z-index: 2;
	width: 5.3vw;
	border-style: none solid none none;
	display: flex;
	flex-direction: column;
	height: calc(100vh - var(--header-height));
	padding-top: 1rem;
	align-items: center;
	justify-content: stretch;
	transition: width var(--animation-duration) var(--animation-timing-curve);
	transition: 1.5s ease-in-out;

	position: sticky;
	left: 0;
	top: var(--header-height);
}

.sidebar ::-webkit-scrollbar {
	display: none;
}

.sidebar .hidden-sidebar {
	opacity: 0;
	width: 0;
	transition: opacity var(--animation-duration) var(--animation-timing-curve);
}

.sidebar .top-sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.channel-symbol {
	color: #820000;
	-webkit-text-stroke: 1px #000000;
	transition: -webkit-text-stroke 100ms ease-in-out;
	cursor: pointer;
}

.channel-symbol:hover {
	color: #b60000;
	-webkit-text-stroke: 1px #ff9000;
	transition: -webkit-text-stroke 100ms ease-in-out;
}

.sidebar .channel-logo {
	height: 30px;
	transition: var(--animation-duration) var(--animation-timing-curve);
}

.middle-sidebar,
.bottom-sidebar {
	overflow-y: auto;
	overflow-x: hidden;
	flex-grow: 1;
	transition: 0.3s ease-in-out;
	scroll-behavior: smooth;
}

.middle-sidebar,
.bottom-sidebar {
	width: 100%;
	padding: 0.5rem 0;
}

.bottom-sidebar .sidebar-list {
	margin-bottom: 0.3vh;
}

.sidebar.open .middle-sidebar,
.sidebar.open .bottom-sidebar {
	width: 100%;
	padding: 0.5rem 0;
}

.bottom-sidebar:hover,
.bottom-sidebar .hidden-sidebar:hover {
	transition: color 0.3s ease-in-out;
}

.sidebar.open .channel-symbol {
	cursor: pointer;
	padding-top: 25%;
	padding-right: 20%;
}

.sidebar-list {
	padding: 0;
	flex-direction: column;
	align-items: center;
	list-style: none;
}

.sidebar-list .hidden-sidebar {
	white-space: nowrap;
}

.sidebar-list .sidebar-link:hover,
.sidebar-list .hidden-sidebar:hover {
	color: #820000;
	transition: color 0.45s ease-in-out;
}

.sidebar-link {
	display: inline-flex;
	font-weight: bold;
	padding: 0.5rem 0;
	text-decoration: none;
	transition: 300ms ease-in-out;
}

.sidebar-link div {
	cursor: pointer;
}

.sidebar-list-item {
	position: relative;
	width: 100%;
	fill: var(--light-gray);
	padding: 1em 0 1em 0;
	text-align: -webkit-center;
}

.open .sidebar-list-item {
	padding: 1vh 0 1vh 2vw;
}

.sidebar-list-item.active {
	background-color: var(--lightest-gray);
}

.sidebar-list-item:hover {
	background-color: #cbcbcbcb;
	transition: 500ms ease-in-out;
}

.sidebar-list-item.active::before {
	position: absolute;
}

.your-channel {
	color: var(--dark-gray);
	font-size: 0.75rem;
	font-weight: bold;
	margin-bottom: 0.15rem;
}

.channel-name {
	align-self: start;
	font-size: 0.75rem;
	font-weight: bold;
}

.sidebar .top-sidebar {
	height: 30px;
	transition: height var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open {
	width: 12%;
	padding: 0;
	transition: width var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .top-sidebar {
	height: 125px;
}

.sidebar .top-sidebar .hidden-sidebar {
	text-align: center;
	width: 100%;
}

.sidebar.open .hidden-sidebar {
	width: 100%;
	height: auto;
	opacity: 1;
	margin: auto 2em auto 0.5em;
}

.sidebar.open .channel-logo {
	width: 3.3vw;
	height: 10vh;
	margin-top: 1rem;
	text-align: center;
}

.sidebar.open .sidebar-link {
	justify-content: flex-start;
	margin: 0 0 0 -0.6em;
}
/* ! */
/*TODO Footer */
footer {
	font-family: "Silkscreen";
	border-style: solid none none none;
	text-shadow: 2px 1px black;
	font-size: 0.5vw;
	transition: 1.5s ease-in-out;
}

footer .f-div {
	display: flex;
	flex-wrap: nowrap;
}

footer p {
	text-align: right;
	font-family: "Silkscreen";
	color: #ff9000;
	flex: auto;
	margin-right: 1rem;
}
