@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Dancing+Script:wght@400;500;600;700&family=EB+Garamond&family=Inspiration&family=Ledger&family=Pacifico&family=Shadows+Into+Light&family=Silkscreen:wght@400;700&display=swap");

:root {
	--accent-color: rgb(82, 0, 0);
	--lightest-gray: rgb(244, 244, 244);
	--light-gray: rgb(144, 144, 144);
	--medium-gray: rgb(96, 96, 96);
	--dark-gray: rgb(13, 13, 13);
	--header-height: 40px;
	--animation-duration: 500ms;
	--animation-timing-curve: ease-in-out;
}

::-webkit-scrollbar {
	width: 1.2rem;
	background: #3c3c3c;
}

::-webkit-scrollbar-thumb {
	background: #b3b3b3;
	border-radius: 39px;
	width: 0.9rem;
	border: 2px solid #000000;
}

::-webkit-scrollbar-thumb:hover {
	background: #b3b3b3;
	width: 1rem;
	border: 2px solid #828282;
	transition: 150ms ease-in-out;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*? google fonts */
.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "weight" 500, "GRAD" 0, "opsz" 20;
}

html,
body {
	margin: 0;
	scroll-behavior: smooth !important;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: background-color 300ms ease, color 600ms ease;
}
